<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LangName" value="zh"/>
		<add key="LangIndex" value="1"/>
		<add key="LangFile" value="i18n\dome_i18n.json"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes"/>
			<probing privatePath="./"/>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
